html, body {
    height: 100%;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #021c0f;
}
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #ebe3e0;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
h2, h3 {
    text-align: center;
    color: #4b6cb7;
}
button {
    width: 100%;
    box-sizing: border-box;
    border: #3c735c;
    border-radius: 20px;
    font-size: 1em;
    background: #fff;
    color: #021c0f;
}
input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    background: #efefef;
    color: #021c0f;
}
input, textarea, select {
    padding: .3em;
}
input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9dbdff;
}
button {
    background: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}
img {
    max-height: 100%;
}

/*- phrase -*/
.phrase-item {
    padding: 1em 1em .5em 1em;
    border-bottom: 1px solid #ccc;
}
.button-group {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    justify-content: space-around;
}
.button-group button {
    height: 25px;
    width: fit-content;
    display: inherit;
}
.button-group button img {
    width: 18px;
    height: auto;
}
.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 16px;
    background: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: .5em 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.fixedHeader {
    position: sticky;
    top: 0;
    border-radius: 0px 0px 30px 30px;
    background: #fff;
    z-index: 10;
    padding: 1em;
}
.phraseList {
    flex-grow: 1;
}
.nav-buttons {
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    gap: .5em;
    justify-content: center;
}
.formList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
}
.formList li label {
    color: #021c0f;
    display: inline-block;
    padding-bottom: 0.2em;
}
/* タグボタン共通 */
.tag-group,
.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
}
.tag-group {
    margin-top: .5em;
}
.tagButton-wrapper {
    color: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid #fff;
    border-radius: 4px;
}
.tagButton-wrapper:has(.tagButton-screen.selected) {
    background: #fff;
    color: rgba(103, 126, 250, 1);
}
.tagButton {
    padding: 2px 6px;
    border: 1px solid rgba(103, 126, 250, 1);
    background: #f0f4fc;
    color: #021c0f;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
}
.tagButton {
    width: auto;
    display: inline-block;
}
.tagButton.active {
    background: rgba(103, 126, 250, 1);
    color: #fff;
}
.tagButton-screen,
.remove-button {
    color: #fff;
    background: none;
}
.tagButton-screen.selected {
    color: rgba(103, 126, 250, 1);
}

.addTagButton {
    border: 2px solid #fff;
}
.saveButton {
    padding: .5em;
    border: 2px solid #fff;
}

/*- screen -*/
.screen {
    display: block;
}
  
.hidden {
    display: none !important;
}

.phrase-text {
    cursor: pointer;
}

/*- toast -*/
.toast {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background: #021c0f;
    color:#fff;
    padding:8px 16px;
    border-radius:8px;
    opacity:0;
    transition: all .3s ease;
    z-index:1000;
}
.toast.active {
    transform: translateX(-50%) translateY(0);
    opacity:1;
}
.toast.error {
    background:#d93025;
}

.phrase_text {
    cursor: pointer;
}

/*- formButton listButton -*/
.formButton,
.listButton {
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
.formButton img,
.listButton img {
    width: 15px;
    height: auto;
}
.exportBtn,
.importBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exportBtn img,
.importBtn img {
    width: 20px;
    height: auto;
}
.filterSelect {
    background: #efefef;
}

.screenButton {
    background: #efefef;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
}
.tagContents {
    display: grid;
    gap: 0.5em;
    margin-bottom: 0.5em;
    grid-template-columns: 2fr 1fr;
}